<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>测试交互界面</title>
  <link rel="stylesheet" href="./index.css">
  <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.common.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>
<body>
 	<div class="btn-div">
 		<button onclick="alertgs();">按钮名称</button>
 	</div>
 	<div class="btn-div">
 		<button onclick="postMessageToNative()">点击 post to native</button>
 	</div>
</body>
<script src="./index.js"></script>
</html>